/* grundlæggende css */

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f2;
}

h1 {
    text-align: center;
}

/* classes-specifik CSS for ikonerne */

.licens * {
border-radius: 50%;
}

.licenser {
  display: flex;
  float: left;
  flex-wrap: wrap;
}

.boble {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  margin: 20px;
}

.licens {
  position: relative;
  text-align: center;
  color: white;
}

.cirkel {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  margin: 20px;
}

.cirkeltekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: none;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  visibility: hidden;
 }

/* Ved hover skal det følgende ske*/
.cirkel:hover :not(.cirkeltekst){
  opacity: 0.1;
  background-color: blue;
  transition: 0.7s;
}

.cirkel:hover .cirkeltekst {
  visibility: visible;
  transition: 1s;
}
