/* grundlæggende css */

body {
    font-family: Arial;
    font-weight: lighter;
    background: linear-gradient(130deg, rgb(227, 116, 116), rgb(103, 103, 244));
  }

h1 {
    text-align: center;
    background: inherit;
    font-family: Arial;
    font-size: 3rem;
}

/* classes-specifik CSS for ikonerne */

.licenser {
  display: flex;
  -ms-flex-align: center;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  border-spacing: 30px;
}

.licens-container {
  position: relative;
  border-radius: 50%;
  text-align: center;
  color: blue;
  border-spacing: 30px;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  }

.cirkel img {
  height: 100%;
  width: 100%
}

.cirkel {
  border-radius: 100%;
  display: flex;
  flex: 0 0 300px;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 300px;
  }

  .overlag {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s;
    z-index: 1;
    overflow-wrap: normal;
    padding: 4%;
      background: radial-gradient(circle at 100px 100px, rgb(255, 255, 79), #000);
      color: #0c0909;
      font-size: 20px;
      font-family: Arial;
  }

  .overlag:hover {
    opacity: 0.89;
      }