/* grundlæggende css */

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f2;
}

body {
  text-align: center; /* Så ældre browsere også sætter teksten korrekt. */
 }

h1 {
    text-align: center;
}

/* classes-specifik CSS for ikonerne */
.licenser {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.boble {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  margin: 20px;
}

/* Ved hover skal det følgende ske*/
.boble:hover {
  opacity: 0.5;
}
